@font-face {
  font-family: Open Sans;
  src: url(../fonts/OpenSans-Regular.ttf);
  font-weight: 400;
  font-style: regular;
}

@font-face {
  font-family: Open Sans;
  src: url(../fonts/OpenSans-Bold.ttf);
  font-weight: 700;
  font-style: bold;
}

body, p, h1, h2, h3, ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

.header {
  position: relative;

  background-repeat: no-repeat;
  background-size: cover;
  opacity: 1;
  }

.header::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  
  background-color: #000000;
  opacity: 0.6;
}

.container {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  max-width: 1200px;
}

.header-nav-wrp {
  position: relative;
  display: flex;
  width: 100%;
  min-height: 41px;
  padding-top: 30px;
  z-index: 3;
}

.logo-link {
  display: flex;
  margin-right: auto;
  text-decoration: none;
}

.logo-img {
  width: 100%;
}

.sections-list {
  display: flex;
  flex-direction: row;
  max-width: 462px;
  margin-left: auto;
}

.section-item {
  text-decoration: none;
}

.section-item:hover {
  content:"";
  text-decoration: underline;
}

.sections-list-item {
  font-family: Open Sans, sans-serif;
  font-size: 13px;
  font-weight: 400;
  font-style: regular;
  text-transform: uppercase;
}

.sections-list-item:nth-child(n+2) {
  padding-left: 34px;
}

.sections-list-item a {
  color: #ffffff;
}

.header-title {
  position: relative;
  
  font-family: Open Sans, sans-serif;
  font-weight: 700;
  font-style: bold;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  z-index: 3;
}

.trends {
  display: flex;
  flex-direction: column;
}

.section-title {
  width: 100%;
  text-align: center;

  font-family: Open Sans, sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  color: #0f0d0e;
  font-weight: 700;
}

.section-title::after {
  content:"";
  display: block;
  width: 66px;
  height: 3px;
  
  background-color: #b59f5b;
}

.trends-posts-content {
  display: flex;
}

.trend-post {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex-grow: 1;
  position: relative;
}

.trend-post:nth-child(1) {
  background-image: url(../images/trend1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 1;
}

.trend-post:nth-child(2) {
  background-image: url(../images/trend2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 1;
}

.trend-post:nth-child(3) {
  background-image: url(../images/trend3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 1;
}

.trend-post:nth-child(4) {
  background-image: url(../images/trend4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 1;
}

.trend-post::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  
  background-color: #000000;
  opacity: 0.6;
}

.trend-post-content {
  position: relative;
  margin: 0 50px 45px;

  outline: #b59f5b solid 3px;
  outline-offset: 30px;
  z-index: 3;
}

.trend-post-title {
  margin-top: 6px;

  font-family: Open Sans;
  text-transform: uppercase;
  font-weight: 700;
}

.trend-post-title-link {
  text-decoration: none;
  color: #ffffff;
}

.trend-post-title-link:hover {
  content:'';
  color: #b59f5b;
}

.main-post {
  display: flex;
}

.article-content {
  flex-grow: 1;
}

.article-img {
  background-color: #eff6f1;
}

.sections-of-article {
  display: flex;
}

.section-of-article:nth-child(n+2) {
  padding-left: 18px;
}

.section-of-article a {
  font-family: Open Sans, sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  color: #b59f5b; 
  font-weight: 700;
}

.main-post-title {
  font-family: Open Sans;
  font-size: 20px;
  line-height: 23px;
  text-transform: uppercase;
  font-weight: 700;
}

.article-title-link {
  text-decoration: none;
  color: #0f0d0e;
}

.article-title-link:hover {
  content: "";
  color: #b59f5b;
}

.article-date {
  display: block;
  
  font-family: Open Sans, sans-serif;
  font-size: 11px;
  line-height: 39px;
  color: #888888;
  font-weight: 400;
}

.author {
  padding-left: 11px;
  
  font-family: Open Sans, sans-serif;
  font-size: 11px;
  line-height: 39px;
  color: #000000;
  font-weight: 700;
}

.text-article {
  padding-bottom: 10px;

  font-family: Open Sans, sans-serif;
  color: #0f0d0e;
  font-weight: 400;
}

.side-bar {
  flex-basis: 270px;
}

.new-post-recommendation {
  display: flex;
  margin-top: 20px;
}

.recommendation-article-img {
  width: 70px;
  margin-top: 4px;
  
  background-color: #f4f7f6;
}

.aside-article-content {
  flex-basis: 170px;
  flex-grow: 1;
  padding-left: 18px;
}

.posts-title {
  padding: 0;
  text-align: center;
  
  font-family: Open Sans, sans-serif;
  text-transform: uppercase;
  color: #0f0d0e;
  font-weight: 700;
}

.posts-title::after {
  content:"";
  display: block;
  margin: 10px auto 24px;
  width: 66px;
  height: 3px;
  
  background-color: #b59f5b;
}
  
.aside-post-date { 
  font-family: Open Sans, sans-serif;
  font-size: 11px;
  color: #888888;
  font-weight: 400;
}

.aside-post-title {
  margin-top: 4px;
  
  font-family: Open Sans, sans-serif;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #000000;
  font-weight: 700;
}

.aside-search {
  position: relative;
  display: flex;
  height: 45px;
  margin: 55px 0 0 0;
  
  background-color: #f4f7f6;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.search-text {
  height: 45px;
  padding: 0 0 0 17px;
  border: none;
  
  background-color: #f4f7f6;
  
  font-family: Open Sans, sans-serif;
  font-size: 13px;
  line-height: 40px;
  color: #000000;
  font-weight: 400;
}

.search-text:focus {
  outline: 1px solid #b59f5b;
}

.search-button {
  content: "";
  width: 45px;
  height: 45px;
  margin-left: auto;
  border: none;
  
  background-image: url(../svg/search.svg);
  background-color: #b59f5b;
  background-position: center center;
  background-size: 17px;
  background-repeat: no-repeat;
}

.search-button:hover {
  background-color: #313131;
}

.aside-section {
  display: block;
}

.aside-section:nth-child(n+2) {
  margin-top: 60px;
}

.form-aside-mailing {
  width: 100%;
}

.aside-email {
  width: 100%;
  box-sizing: border-box;
  height: 45px;
  padding-left: 17px;
  border: none;
  
  background-color: #f4f7f6;
  
  font-family: Open Sans, sans-serif;
  font-size: 12px;
  line-height: 40px;
  color: #000000;
  font-weight: 400;
}

.aside-email:focus {
  outline: 1px solid #b59f5b;
}

.mailing-button {
  width: 100%;
  height: 46px;
  padding: 0;
  margin-top: 12px;
  border: none;
  text-align: center;
  
  background-color: #b59f5b;
  
  font-family: Open Sans, sans-serif;
  font-size: 13px;
  line-height: 40px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 700;
}

.mailing-button:hover {
  content: "";
  background-color: #313131;
}

.aside-tegs {
  width: 100%;
}

.tegs-list {
  display: flex;
  flex-wrap: wrap; 
  text-align: center;
  margin: 23px 0 6px 0;
}

.tegs-list-item {
  height: 18px;
  margin-right: 5px;
  margin-bottom: 5px;
  padding: 6px 13px 3px 13px;
  border: 3px solid #eeeeee;
  text-align: center;
  
  font-family: Open Sans, sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
}

.tegs-item-link {
  text-decoration: none;
  color: #0f0d0e;
}

.tegs-list-item:hover {
  border: 3px solid #b59f5b;
}

.aside-themes {
  display: block;
  width: 100%;
}

.themes-list {
  margin-left: 1px;
}

.themes-list-item {
  margin: 0;
  
  font-family: Open Sans, sans-serif;
  font-size: 13px;
  line-height: 42px;
  color: #000000;
  font-weight: 700;
}

.themes-list-item:hover {
  color: #b59f5b;
}

.themes-list-item::after {
  content: "";
  display: block;
  height: 1px;
  margin: 0;
  
  background-color: #eeeeee;
}

.number-articles {
  margin-left: 1px;
  vertical-align: super;
  
  font-size: 11px;
  line-height: 34px;
  color: #b59f5b;
}

.shop {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 0 26px;
}

.shop-content {
  display: flex;
}

.product {
  display: flex;
  flex-direction: column;
}

.product-img {
  display: block;
  width: 100%;
}

.product-content {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  flex-grow: 1;

  outline: #b59f5b solid 3px;
  outline-offset: 23px;
}

.product-title {
  margin-bottom: 5px;

  font-family: Open Sans;
  text-transform: uppercase;
  color: #0f0d0e;
  font-weight: 700;
}

.product-description {
  padding-bottom: 28px;

  font-family: Open Sans, sans-serif;
  font-size: 15px;
  line-height: 22px;
  color: #0f0d0e; 
  font-weight: 400;
}

.product-description a {
  font-family: Open Sans, sans-serif;
  font-size: 15px;
  line-height: 22px;
  color: #b59f5b; 
  font-weight: 400;
}

.product-footer {
  display: flex;
  align-items: center;
}

.product-prices {
  flex-grow: 1;
}

.product-price-old {
  text-decoration: line-through;

  font-family: Open Sans, sans-serif;
  font-size: 14px;
  line-height: 23px;
  color: #0f0d0e; 
  font-weight: 700;
}

.product-price-new {
  font-family: Open Sans, sans-serif;
  font-size: 20px;
  line-height: 23px;
  color: #0f0d0e; 
  font-weight: 700;	
}

.product-button {
  width: 140px;
  height: 48px;
  padding: 0 25px;
  flex-shrink: 0;
  border: none;
  
  background-color: #b59f5b;

  text-align: center;
  text-transform: uppercase;

  font-family: Open Sans, sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: #ffffff;
}

.product-button:hover {
  content: "";
  background-color: #313131;
}

.popup-hidden {
  display: none;
}

.popup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
}

.popup-dark-background {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;

  background-color: #000000;
  opacity: 0.6;
  z-index: 6;
}

.popup-close {
  position: relative;
  display: flex;
  justify-content: flex-end;
  box-sizing: border-box;
  max-width: 390px;
  width: 92%;
  flex-basis: 28px;
}

.popup-close-button {
  position: relative;
  width: 20px;
  height: 20px; 
  border: none;
  padding: 0;

  background-image: url(../svg/form-x.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;

  background-color: transparent;
  z-index: 9;
}

.popup-content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  max-width: 390px;
  width: 92%;

  background-color: #ffffff;
  opacity: 1;
  z-index: 9;
}

.popup-form {
  display: flex;
  flex-direction: column;
  position: relative;

  font-family: Open Sans, sans-serif;
  font-size: 13px;
  font-weight: 400;
  font-style: regular;
  color: #000000;
  z-index: 9;
}

.question {
  margin-bottom: 8px;
}

.question:nth-child(n+2) {
  margin-top: 13px;
}

.checkbox-answer-mailing, .options-of-answer-visit-site, .review-type-of-content {
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
}

.options-of-answer-mailing, .box-of-answer-mailing, .checkbox-text {
 display: flex;
}

.options-of-answer-mailing {
  margin-top: 10px;
}

.box-of-answer-mailing {
  margin-right: 8px;
}

.checkbox-text::before {
  content: "";
  display: block;
  margin-right: 5px;
  vertical-align: middle;
  
  width: 15px;
  height: 15px;
  
  background-image: url(../svg/form-empty-circle.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 15px;
}

.checkbox-answer-mailing:checked + .checkbox-text::before {
  background-image: url(../svg/form-circle.svg);
}

.options-of-answer-visit-site, .review-type-of-content {
  padding: 20px;

  background-color: #f4f7f6;

  font-family: Open Sans, sans-serif;
  font-size: 13px;
  font-weight: 400;
  font-style: regular;
  color: #787979;
}

.options-of-answer-visit-site:focus, .review-type-of-content:focus {
  outline: 1px solid #b59f5b;
}

.options-of-answer-visit-site {
  background-color: #f4f7f6;
  background-image: url(../svg/form-arrows.svg);
  background-repeat: no-repeat;
  background-size: 11px;
  background-position: right 20px center;
}

.review-type-of-content {
  flex-basis: 130px;
  margin-bottom: 25px;
  resize: none;
}

.popup-button-submit {
  width: 100%;
  height: 48px;
  box-sizing: border-box;
  border: none;
  
  background-color: #b59f5b;

  text-align: center;
  text-transform: uppercase;

  font-family: Open Sans, sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: #ffffff;
}

.popup-button-submit:hover {
  content: "";
  background-color: #313131;
}

.footer-information {
  width: 100%;
  text-align: center;
}

.widget-socials {
  display: flex;
  min-height: 83px;
  margin: 0 auto 46px;
  justify-content: center;
  align-items: center;
  
  background-color: #f4f7f6;
}

.widget-list-item {
  display: flex;
  position: relative;
  width: 20px;
  height: 20px;	
}

.widget-list-item:nth-child(n+2) {
  margin-left: 22px;
}

.widget-link-dribble {
  width: 100%;
  height: 100%;

  background-image: url(../svg/001-dribbble.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;
}


.widget-link-pinterest {
  width: 100%;
  height: 100%;

  background-image: url(../svg/002-pinterest.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;
}


.widget-link-tumblr {
  width: 100%;
  height: 100%;
  
  background-image: url(../svg/003-tumblr.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;
}

.copyright {
  max-width: 219px;
  min-height: 54px;
  
  font-family: Open Sans, sans-serif;
  font-size: 11px;
  font-weight: 700;
  font-style: bold;
  line-height: 40px;
  color: #999999;
  text-decoration: none;
}

@media (min-width: 1201px) {
  
  .header {
   	min-height: 450px;

    background-image: url(../images/banner-bg.jpg);
  }

  .container {
    margin: 0 auto;
    padding-right: 15px;
    padding-left: 15px;
  }

  .container:nth-child(n+2) {
    margin-top: 64px;
  }

  .header-nav-wrp {
    min-height: 41px;
    padding-top: 30px;
    align-items: center;
  }

  .logo-link {
    max-width: 179px;
  }

  .header-title {
    max-width: 679px;
    min-height: 109px;
    margin: 100px auto 125px;
  
    font-size: 45px;
    line-height: 74px;
  }

  .menu-button {
    display: none;
  }

  .section-title::after {
    margin: 10px auto 27px;
  }

  .trends {
    margin-top: 64px;
  }

  .trend-post {
    min-height: 319px;
  }

  .trend-post-content {
    max-width: 305px;
    margin: 0 50px 45px;
  }

  .trend-post:nth-child(n+2) {
    margin-left: 4px;
  }

  .trend-post-title {
    font-size: 20px;
    line-height: 23px;
  }

  .main-content {
    width: calc(100% - 270px);
  }

  .main-post:nth-child(n+2) {
    margin-top: 59px;
  }

  .article-img {
    width: 381px;
  }

  .article-content {
    padding-left: 29px;
    padding-right: 122px;
  }

  .main-post-title {
    margin: 8px 0 14px;

    font-size: 20px;
    line-height: 23px;
  }

  .article-date {
    padding-bottom: 30px;
  }

  .text-article {
    font-size: 15px;
    line-height: 22px;
  }

  .posts-title {
    font-size: 16px;
  }

  .shop-content {
  	justify-content: space-between;
  }

  .product {
    max-width: 27%;
  }

  .product-title {
    font-size: 20px;
    line-height: 23px;
  }

  .footer-information {
    margin-top: 25px;
  }

  .popup-content {
    flex-basis: 588px;
    padding: 50px 28px;
  }
}

@media (min-width: 641px) and (max-width: 1200px), (max-width: 640px) and (orientation: landscape) {
  .header {
    min-height: 390px;

    background-image: url(../images/banner-bg-tablet.jpg);
   }

  .container {
    padding-right: 35px;
    padding-left: 35px;
  }

  .container:nth-child(n+2) {
    margin-top: 50px;
  }

  .header-nav-wrp {
    min-height: 38px;
    padding-top: 40px;
    align-items: center;
  }
  
  .logo-link {
    max-width: 158px;
  }

  .menu-header {
    position: relative;
    margin-left: auto;
  }

  .menu-button {
    position: absolute;
    top: 5px;
    right: 0;

    width: 23px;
    height: 4px; 
    border: none;
    padding: 0;

    background-color: #ffffff;
  }  

  .menu-button::before {
    content:"";
    display: block;
    position: absolute;
    top: -8px;
    width: 23px;
    height: 4px;
  
    background-color: #ffffff;
  }

  .menu-button::after {
    content:"";
    display: block;
    margin-top: 8px;
    width: 23px;
    height: 4px;
  
    background-color: #ffffff;
  }

  .sections-list {
    display: none;
  }

  .header-title {
    max-width: 608px;
    min-height: 85px;
    margin: 100px auto 125px;
  
    font-size: 40px;
    line-height: 54px;
  }

  .trends {
    margin-top: 45px;
  }

  .section-title {
    font-size: 16px;
  }

  .section-title::after {
    margin: 7px auto 15px;
  }

  .trends-posts-content {
    flex-wrap: wrap;
  }

  .trend-post {
    width: calc(50% - 2px);
    min-height: 247px;
  }

  .trend-post:nth-child(2n+2) {
    margin-left: 4px;
  }

  .trend-post:nth-child(n+3) {
    margin-top: 4px;
  }

  .trend-post-content {
    width: calc(100% - 95px);
    margin: 0 50px 45px;
  }

  .trend-post-title {
    font-size: 16px;
    line-height: 19px;
  }

  .main-content {
    max-width: calc(100% - 270px);
  }

  .main-post {
    flex-direction: column;
    padding-right: 35px;
  }

  .main-post:nth-child(n+2) {
    margin-top: 35px;
  }

  .main-post::after {
    content: "";
    display: block;
    height: 3px;
    margin: 0;
  
    background-color: #ededed;
  }

  .article-img {
    display: block;
  }

  .article-content {
    display: block;
    padding: 16px 0 10px;
  }

  .main-post-title {
    margin: 8px 0 10px;
  
    font-size: 16px;
    line-height: 19px;
  }
  
  .article-date {
    padding-bottom: 5px;
  }

  .text-article {
    font-size: 14px;
    line-height: 20px;
  }

  .side-bar {
    flex-basis: 270px;
  }

  .posts-title {
    font-size: 16px;
  }

  .shop-content {
    flex-wrap: wrap;
  }

  .product {
    width: calc(50% - 35px);
  }
  
  .product:nth-child(2n+2) {
    margin-left: 70px;
  }

  .product:nth-child(n+3) {
    margin-top: 55px;
  }

  .product-picture {
    width: 100%;
  }

  .product-title {
    font-size: 17px;
    line-height: 21px;
  }

  .footer-information {
    margin-top: 27px;
  }

  .popup-content {
    flex-basis: 595px;
    padding: 53px 30px;
  }
}

@media (max-width: 640px) and (orientation: portrait) {
  .header {
    min-height: 640px;

    background-image: url(../images/banner-mobile.jpg);
   }

  .container {
  	flex-direction: column;
    width: 100vmin;
    margin: 0;
    padding-right: 15px;
    padding-left: 15px;
  }

  .container:nth-child(n+2) {
    margin-top: 45px;
  }

  .header-nav-wrp {
  	flex-direction: column;
    min-height: 260px;
    padding-top: 30px;
  }
  
  .menu-header {
  	position: relative;
  }

  .menu-button {
    position: absolute;
  	top: 5px;
  	right: 0;

    width: 23px;
    height: 4px; 
    border: none;
    padding: 0;

    background-color: #ffffff;
  }  

  .menu-button::before {
    content:"";
    display: block;
    position: absolute;
    top: -8px;
    width: 23px;
    height: 4px;
  
    background-color: #ffffff;
  }

  .menu-button::after {
    content:"";
    display: block;
    margin-top: 8px;
    width: 23px;
    height: 4px;
  
    background-color: #ffffff;
  }

  .logo-link {
  	max-width: 270px;
    margin: auto auto 35px;
    order: 1;
  }

  .sections-list {
    display: none;
  }

  .header-title {
    max-width: 280px;
    margin: 0;
    align-self: center;

    font-size: 26px;
    line-height: 36px;
  }

  .trends {
    margin-top: 45px;
  }

  .section-title {
    font-size: 18px;
  }

  .section-title::after {
    margin: 7px auto 23px;
  }

  .trends-posts-content {
    flex-direction: column;
  }

  .trend-post {
    align-items: center;
    min-height: 231px;
  }

  .trend-post:nth-child(n+2) {
    margin-left: 0;
    margin-top: 3px;
  }
  
  .trend-post-content {
    width: calc(100% - 95px);
    margin: 0 50px 45px;
  }

  .trend-post-title {
    font-size: 16px;
    line-height: 19px;
  }

  .main-content {
    width: 100%;
  }

  .main-post {
    flex-direction: column;
  }

  .main-post:nth-child(n+2) {
    margin-top: 35px;
  }

  .main-post::after {
    content: "";
    display: block;
    height: 3px;
    margin: 0;
  
    background-color: #ededed;
  }

  .article-img {
  	display: block;
  }

  .article-content {
  	display: block;
    padding: 16px 0 10px;
  }

  .main-post-title {
    margin: 8px 0 10px;
  
    font-size: 16px;
    line-height: 19px;
  }
  
  .article-date {
    padding-bottom: 5px;
  }

  .text-article {
    font-size: 14px;
    line-height: 20px;
  }

  .side-bar {
    width: 100%;
    margin-top: 46px;
    flex-grow: 1;
  }

  .aside-article-content {
    flex-grow: 1;
  }

  .posts-title {
    font-size: 16px;
  }

  .shop-content {
  	flex-wrap: wrap;
  }

  .product {
    width: 100%;
  }

  .product:nth-child(n+2) {
    margin-top: 55px;
  }

  .product-picture {
    max-width: 100%;
  }

  .product-title {
    font-size: 17px;
    line-height: 21px;
  }

  .footer-information {
    margin-top: 20px;
  }

  .popup-content {
    flex-basis: 545px;
    padding: 30px 25px;
  }
}